<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DataDecks</title>
        <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <!-- TEMPLATES for rivets.js -->
        <script id="menu-template" type="text/html">
            <div class="collection">
                <a href="javascript:void(0)" id="menu-start" class="collection-item avatar">
                    <i class="material-icons circle green">play_arrow</i>
                    <span class="title">Play Game</span>
                </a>
                <a href="#helpModal" class="collection-item avatar modal-trigger">
                    <i class="material-icons circle">live_help</i>
                    <span class="title">How to play</span>
                </a>
            </div>
        </script>

        <script id="game-screen-template" type="text/html">
            <div id="game-screen" class="container" rv-data-pickingCat="game.pickingCat" rv-data-pickingCard="game.pickingCard">

                <div class="collection categories" rv-class-disabled="game.pickingCat | not" id="category-list">
                    <li class="collection-header">
                        <h5>Categories</h5>
                        <span class="italics" rv-if="game.waitingCat">Waiting for opponent to pick...</span>
                        <span rv-if="game.pickingCat">Your turn: Pick a category to play</span>
                    </li>

                    <a href="javascript:void(0)" class="collection-item" rv-class-active="category.id | = game.activeCategory.id" rv-each-category="categories" rv-on-click="category.onSelected">{ category.name | prettyCat }</a>
                </div>

                <div class="cards">
                    <h5>Your cards</h5>
                    <div class="row">
                        <div class="col s12 m6 l4" rv-each-card="game._hand">
                            <div class="dd-card card small waves-effect waves-block waves-light" >
                                <div class="card-content activator">
                                    <span class="card-title activator grey-text text-darken-4">{ card.name }<i class="material-icons right">info</i></span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{ card.name }<i class="material-icons right">close</i></span>
                                    <p>{ card.description }</p>
                                </div>
                                <div class="card-action" rv-if="game.pickingCard">
                                    <a href="javascript:void(0)" rv-on-click="card.onSelected">Play</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script id="deck-list-template" type="text/html">
            <div class="collection" id="deck-list">
                <div class="collection-header"><h4>Select Card Deck</h4></div>
                <a href="javascript:void(0)" class="collection-item" rv-each-deck="decks.decks" rv-on-click="decks.onSelected">
                    <span class="title">{ deck.name }</span>
                </a>
            </div>
        </script>

        <script id="lobby-template" type="text/html">
            <div class="container">
                <div class="section center-btn">
                    <a id="lobby-ready" class="center-align valign waves-effect waves-light btn-large">Click when ready</a>
                </div>
            </div>
        </script>

        <nav>
            <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li><a href="#exitModal" class="modal-trigger">Home</a></li>
            </ul>
            <span class="score">Score: <span id="score"></span></span>
            <ul id="nav-mobile" class="right">
                <li><a class="modal-trigger" href="#aboutModal">About</a></li>
            </ul>
            </div>
        </nav>

        <!-- Modal Structure -->
        <div id="aboutModal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>About</h4>
                <p>
                    Created as part of GovHack 2015 by <a href="https://github.com/DataDecks" target="_blank">Arcton</a>, from Hamilton, New Zealand.
                    Data from <a href="http://stats.govt.nz">Statistics New Zealand</a> used under a CC-BY-3.0 NZ license.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="helpModal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>How to play</h4>
                <p>
                    Welcome to DataDecks!
                    Rules are coming soon. For now, explore the game and have fun!
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="exitModal" class="modal">
            <div class="modal-content">
                <h4>Exit to menu?</h4>
                <p>
                    If you're currently in a game, your progress will be lost!
                </p>
            </div>
            <div class="modal-footer">
                <a href="javascript:document.location.reload()" class="modal-action modal-close waves-effect waves-green btn-flat">Exit to menu</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>

        <div id="winnerRoundModal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Round Over</h4>

                <table class="results" id="results-table">
                </table>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Continue</a>
            </div>
        </div>

        <div id="main">

        </div>
    </body>
</html>
